<ng-template #tableInnerTemplate>
    <div #tableBodyElement>
        <table class="table table-striped table-border">
            <ng-content></ng-content>
            <!-- <tbody *ngIf="!historyDetection?.result?.checkResultList || !historyDetection?.result?.checkResultList[0]">
              <tr>
                  <td colspan="5" class="text-center">
                      查询结果为空...
                  </td>
              </tr>
          </tbody> -->
        </table>
    </div>
    <!-- <div class="ant-table-placeholder" *ngIf="(data.length==0)&&!nzLoading">
        <span *ngIf="!nzNoResult">{{ 'Table.emptyText' | nzI18n }}</span>
        <ng-container *ngIf="nzNoResult">
            <ng-container *ngIf="isNoResultString; else noResultTemplate">{{ nzNoResult }}</ng-container>
            <ng-template #noResultTemplate>
                <ng-template [ngTemplateOutlet]="nzNoResult"></ng-template>
            </ng-template>
        </ng-container>
    </div> -->
</ng-template>
<div class="unit-table-wrapper">
    <div class="input-group input-group-sm col-4">
        <div class="input-group-prepend">
            <span class="input-group-text">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
        </div>
        <input type="text" name="query" class="form-control" placeholder="请输入报告名称进行查询..." [(ngModel)]="query" (keyup.enter)="getHistoryDetection(1, limit, query)">
    </div>

    <div class="unit-table">

        <ng-template [ngTemplateOutlet]="tableInnerTemplate"></ng-template>
    </div>

    <div class="unit-pagination">
        <div class="d-inline-block">
            <span>
          共{{ dataSet.length }}条记录&nbsp;&nbsp;&nbsp;&nbsp;每页显示
          <select size [(ngModel)]="pageSize" name="pageSize" (change)="changePage(1, pageSize, query)" id="inputState" required class="form-control d-inline-block" >
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
          </select>条
      </span>
        </div>
        <div class="d-inline-block float-right pagination-sm">
            <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="dataSet.length" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
</div>