<unit-table [dataSet]="dataSet" [page]="page" [pageSize]="pageSize" [unitLoading]="true">
    <thead class="thead-default">
        <tr>
            <th unitShowSort>姓名</th>
            <th unitShowSort>年龄</th>
            <th unitShowSort>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataSet; let i=index; trackBy: trackById">
            <td>{{ item?.name }}</td>
            <td>{{ item?.age }}</td>
            <td>
                <span class="option-link" (click)="viewDetail(item.id)">查看</span>
            </td>
        </tr>
    </tbody>
</unit-table>