<unit-table [dataSet]="dataSet" [page]="page" [pageSize]="pageSize" [unitLoading]="false">
    <thead class="thead-default">
        <tr>
            <th>
                <input type="checkbox" #selected name="all" [checked]="allChecked" (change)="checkAll($event)" />
            </th>
            <th unitShowSort unitSortKey="name">姓名</th>
            <th unitShowSort unitSortKey="age">年龄</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataSet; let i=index; trackBy: trackById">
            <td><input type="checkbox" [(ngModel)]="item.checked" (change)="refreshStatus($event)" /></td>
            <td>{{ item?.name }}</td>
            <td>{{ item?.age }}</td>
            <td>
                <span class="option-link" (click)="viewDetail(item.id)">查看</span>
            </td>
        </tr>
    </tbody>
</unit-table>